:root{
    --MPK-white:#f3f3f3;
    --MPK-black-01:#292526;
    --MPK-black-02:#504E4F;
    --drumpad-border:3px;
    --drumpad-black-01:#1F1F21;
    --drumpad-black-02:#303032;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightsteelblue;
}

/* top section */
section {
    width: 90vw;
    max-width: 1080px;
    aspect-ratio: 1.75/1;
    background: var(--MPK-black-01);
    border-inline: #c61325 10px solid;
}

/*             boven & onderkant             */

section div {
    height: 50%;
    display: flex;
}
section div:nth-child(1), section div:nth-child(2) {
    height: 50%;
    display: flex;
}

/* Bovenkant */ /* Bovenkant */ /* Bovenkant */

section div:nth-child(1) {
    color: red;
}

section div:nth-child(1) div:nth-child(1) {
    display: flex;
    flex-direction: column;
    width: 15%;
    height: 100%;
}

section div:nth-child(1) div:nth-child(1) div:nth-child(1) {
    width: 100%;
    height: 40%;
    /* background: blue; */
}
section div:nth-child(1) div:nth-child(1) div:nth-child(2) {
    width: 100%;
    height:60%;
}
/* drumpad */ /* drumpad */ /* drumpad */

section div:nth-child(1) div:nth-child(2) {
    width: 50%;
    height: 100%;
}
section div:nth-child(1) div:nth-child(2) ul {
    width: 90%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-template-rows: repeat(2, 1fr);
    gap: 1em;
    list-style: none;
    padding: 1em;
    margin: 0;
}
section div:nth-child(1) div:nth-child(2) ul li {
    aspect-ratio: 1;
    background: var(--drumpad-black-01);
    border: var(--drumpad-border) white solid;
    border-radius: .3em;
}

section div:nth-child(1) div:nth-child(2) ul li:nth-child(2),
section div:nth-child(1) div:nth-child(2) ul li:nth-child(4),
section div:nth-child(1) div:nth-child(2) ul li:nth-child(5),
section div:nth-child(1) div:nth-child(2) ul li:nth-child(7) {
    border: var(--drumpad-border) solid red;
}

/* section div:nth-child(1) div:nth-child(2) ul li:nth-child(even) {
    border: var(--drumpad-border) solid red;
} */
section div:nth-child(1) div:nth-child(2) ul li:hover {
    background: var(--drumpad-black-02);
}

section div:nth-child(1) div:nth-child(3) {
    display: flex;
    flex-direction: column;
    width: 35%;
    height: 100%;
}
section div:nth-child(1) div:nth-child(3) div:nth-child(1) {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 35%;
}
section div:nth-child(1) div:nth-child(3) div:nth-child(1) div:nth-child(1){
    height: 100%;
    width: 40%;
}
section div:nth-child(1) div:nth-child(3) div:nth-child(1) div:nth-child(2){
    height: 100%;
    width: 60%;
}

section div:nth-child(1) div:nth-child(3) div:nth-child(2) {
    width: 100%;
    height: 65%;
}

/*                onderkant                   */
/*                onderkant                   */
/*                onderkant                   */

section div:first-of-type section div:nth-child(1) {
    color: green;
}

section div:nth-child(2) div:nth-child(even), section div:nth-child(2) div:nth-child(odd) {
    height: 100%;
    /* background: orange; */
}

section div:nth-child(2) div:nth-child(even) {
    width: 90%;
    background: var(--MPK-white);
    /* box-shadow: inset 0px 12px 10px 0px rgba(0,0,0,0.6); */
}

section div:nth-child(2) div:nth-child(odd) {
    width: 5%;
    /* background: yellow; */
}
